In [1]:
import pandas as pd
apple = pd.read_csv("AppleStore.csv")
google = pd.read_csv("googleplaystore.csv")

In [2]:
apple.head(1)

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1

In [3]:
google.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [17]:
df_apple = pd.DataFrame({"name":apple["track_name"]})

In [18]:
df_apple["apple_value"] = 1

In [19]:
df_apple.head()

                                                name  apple_value
0                                    PAC-MAN Premium            1
1                          Evernote - stay organized            1
2    WeatherBug - Local Weather, Radar, Maps, Alerts            1
3  eBay: Best App to Buy, Sell, Save! Online Shop...            1
4                                              Bible            1

In [20]:
df_google = pd.DataFrame({"name":google["App"]})
df_google["google_value"] = 1
df_google.head()

                                                name  google_value
0     Photo Editor & Candy Camera & Grid & ScrapBook             1
1                                Coloring book moana             1
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...             1
3                              Sketch - Draw & Paint             1
4              Pixel Draw - Number Art Coloring Book             1

In [22]:
combine = pd.merge(df_apple,df_google,how="outer",on="name")
combine.head()

,name,apple_value,google_value
0,PAC-MAN Premium,1.0,NaN
1,Evernote - stay organized,1.0,NaN
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",1.0,NaN
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",1.0,NaN
4,Bible,1.0,1.0

In [24]:
combine["both"] = combine["apple_value"]+combine["google_value"]
combine = combine[combine["both"]==2]

In [31]:
distinct = pd.DataFrame({"name":combine["name"].unique()})

In [32]:
distinct.to_csv("overlapping_apps.csv")