In [2]:
import pandas as pd
apple = pd.read_csv("AppleStore.csv")
google = pd.read_csv("googleplaystore.csv")

In [3]:
apple.head(1)

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1

In [4]:
google.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [54]:
df_apple = pd.DataFrame({"name":apple["track_name"]})
df_apple["name"]=df_apple["name"].str.replace("-"," ")
df_apple["name"]=df_apple["name"].str.replace("&"," ")
df_apple["name"]=df_apple["name"].str.replace(","," ")
df_apple["name"]=df_apple["name"].str.replace(":","")
new = df_apple["name"].str.split(" ",n=3,expand=True)
df_apple["0"] = new[0]
df_apple["1"]=new[1]
df_apple["2"]=new[2]

In [55]:
df_apple["apple_value"] = 1

In [56]:
df_apple.head()

,name,0,1,2,apple_value
0,PAC MAN Premium,PAC,MAN,Premium,1
1,Evernote stay organized,Evernote,,,1
2,WeatherBug Local Weather Radar Maps Alerts,WeatherBug,,,1
3,eBay Best App to Buy Sell Save! Online Shopping,eBay,Best,App,1
4,Bible,Bible,None,None,1

In [57]:
df_google = pd.DataFrame({"name":google["App"]})
df_google["name"]=df_google["name"].str.replace("-"," ")
df_google["name"]=df_google["name"].str.replace("&"," ")
df_google["name"]=df_google["name"].str.replace(":","")
df_google["name"]=df_google["name"].str.replace(","," ")
new = df_google["name"].str.split(" ",n=3,expand=True)
df_google["0"] = new[0]
df_google["1"] = new[1]
df_google["2"] = new[2]
df_google["google_value"] = 1
df_google.head()

,name,0,1,2,google_value
0,Photo Editor Candy Camera Grid ScrapBook,Photo,Editor,,1
1,Coloring book moana,Coloring,book,moana,1
2,U Launcher Lite – FREE Live Cool Themes Hide ...,U,Launcher,Lite,1
3,Sketch Draw Paint,Sketch,,,1
4,Pixel Draw Number Art Coloring Book,Pixel,Draw,,1

In [59]:
combine = pd.merge(df_apple,df_google,how="outer",on=["0","1","2"])
combine.head()

,name_x,0,1,2,apple_value,name_y,google_value
0,PAC MAN Premium,PAC,MAN,Premium,1.0,NaN,NaN
1,Evernote stay organized,Evernote,,,1.0,NaN,NaN
2,WeatherBug Local Weather Radar Maps Alerts,WeatherBug,,,1.0,NaN,NaN
3,eBay Best App to Buy Sell Save! Online Shopping,eBay,Best,App,1.0,NaN,NaN
4,Bible,Bible,None,None,1.0,Bible,1.0

In [66]:
combine["both"] = combine["apple_value"]+combine["google_value"]
combine = combine[combine["both"]==2]
combine["name_x"].nunique()

552

In [41]:
distinct = pd.DataFrame({"name":combine["name"].unique()})

KeyError: 'name'

In [32]:
distinct.to_csv("overlapping_apps.csv")